# STM32Cube copied library and project folders
Drivers/
MDK-ARM/
EWARM/
cmake/
.mxproject

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# custom
build/
CMakeUserPresets.json
*.s
*.ld

hardware/*/Core/*
!hardware/*/Core/Src
hardware/*/Core/Src/*
!hardware/*/Core/Src/main.c
!hardware/*/Core/Src/system_stm32f1xx.c
